<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

  <display-name>Tomcat Documentation</display-name>
  <description>
     Tomcat Documentation.
  </description>
  <servlet>
  	<servlet-name>studentINFO</servlet-name>
  	<servlet-class>com.tyh.redis.studentmanager.servlet.ManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>studentINFO</servlet-name>
  	<url-pattern>/info</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>studentADD</servlet-name>
  	<servlet-class>com.tyh.redis.studentmanager.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>studentADD</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>studentUPDATE</servlet-name>
  	<servlet-class>com.tyh.redis.studentmanager.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>studentUPDATE</servlet-name>
  	<url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>studentDELETE</servlet-name>
  	<servlet-class>com.tyh.redis.studentmanager.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>studentDELETE</servlet-name>
  	<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  
</web-app>